.moondata {
    h2 {
        text-align: center;
    }
    
    .data-grid{
        padding: 0 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);

        p {
            font-weight: 500;
            padding: 0 50px;
        }

        p:nth-of-type(7) {
            grid-column: auto / span 2;
        }
    }
}
