@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&family=Monofett&family=Zen+Dots&display=swap');

.landing {
    text-align: center;
    width: 100%;
    margin: 0;
    
    h1 {
        font-family: "Zen Dots", sans-serif;
        font-size: 40px;
    }

    img {
        height: auto;
        width: 100%;
    }
    
    .search-inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        button {
            position: relative;
            left: 75px;
        }
    }
}

.center-box {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    
}

.landing-text {
        color: white;
        text-align: left;
        padding: 0 40px;
}

@media screen and (min-width: 1024px) {
    .landing-text {
        position: absolute;
        bottom: 12%;
        left: 0;
    }
}
